[Unit]
Description=Sandbag Discord Bot Agent
After=network.target


[Service]
Type=simple
ExecStart=/home/centos/.nvm/versions/node/v11.5.0/bin/node /home/centos/repos/sandbag-discord-bot/dist/index.js
WorkingDirectory=/home/centos/repos/sandbag-discord-bot
EnvironmentFile=/home/centos/repos/kniveout-discord-bot/environment
Restart=on-failure

[Install]
WantedBy=multi-user.target